@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Manrope;
    font-weight: 300;
    overflow: visible;
}

#wrapper {
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 70px;
}

#wrapper>blockquote {
    padding: 50px 10px 10px;
    text-align: center;
    font-weight: 200;
    font-size: 24px;
    font-style: italic;
}

#wrapper>blockquote span {
    quotes: "â€";
    position: relative;
    display: inline-block;
}

#wrapper>blockquote span::before {
    content: open-quote;
    font-size: 50px;
    opacity: 0.1;
    position: absolute;
    top: -5px;
    left: -20px;
    line-height: 24px;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding: 30px 30px;
    width: 100%;
}

nav img {
    height: 30px;
    width: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

#portfolio {
    margin-bottom: 30px;
    padding-top: 30px;
}

#portfolio img {
    width: 100%;
}

.portfolio-row {
    display: flex;
}

.portfolio-item {
    position: relative;
    margin: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0;
    transition: .5s ease;
}

.overlay .text {
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.portfolio-item:hover .overlay {
    opacity: 0.8;
}

.section {
    padding: 20px;
    margin-bottom: 30px;
}

.section h2 {
    font-weight: 300;
    margin-bottom: 10px;
}

.section h3 {
    font-size: 36px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 0 10px;
    text-align: center;
}

.section li strong {
    font-weight: 400;
}

.section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section ul li {
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.section.lg ul li {
    font-size: 22px;
    font-weight: 200;
}

.section a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.section a svg {
    margin-right: 10px;
}

#project {}

#project img {
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
    /* max-width: 100%;
    max-height: calc(100vh - 80px); */
    height: auto;
}

.project-max-h {
    width: unset !important;
    max-width: 100%;
    height: auto;
    max-height: calc(100vh - 80px);
}

#profile-img {
    max-width: 287px;
    height: auto;
    padding: 10px;
    margin-top: 100px;
}

@media (max-width: 800px) {
    #wrapper {
        margin-top: 0;
    }

    #wrapper>blockquote {
        padding: 20px 10px 0px;
        font-size: 20px;
    }

    nav {
        display: block;
        text-align: center;
        padding: 20px;
        position: relative;
    }

    nav img {
        margin: 10px auto;
    }

    nav ul li a {
        margin: 0 10px;
    }

    #portfolio {
        margin-top: 20px;
    }

    .portfolio-row {
        display: block;
    }

    .flex {
        display: block;
    }

    #profile-img {
        margin: 10px auto;
        width: 100%;
    }
}